/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    display: flex;
    background-color: #DCD5C4;
    margin: 5% auto;
    padding-bottom: 20px;
    border: 1px solid #79553D;
    width: 40%;
    flex-direction: column;
}

.modal-header {
    width: 100%;
    height: 50px;
    color: #2A2927;
    text-align: center;
    margin-top: -1em;
}

.input-file {
    margin: 10px 10em;
}

button[type="submit"] {
    width: 30%;
    border: 1px solid #242927; /* Establece el color y el grosor del borde */
    background-color: #242927;
    min-height: 30px;
    border-radius: 5px;
    color: #f5f6f7;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
    margin: 20px 188px 10px;
}

.close-button {
    color: #2A2927;
    margin-top: .3em;
    margin-left: 18.3em;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #79553D;
    text-decoration: none;
    cursor: pointer;
}