body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  font-size: 15px;
  background-color: #b5aa98;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  padding: 2em 19% 1em;
}

.selector-fecha {
  text-align: center;
  margin-bottom: 20px;
}

.selector-fecha input {
  padding: 10px;
  font-size: 16px;
  background-color: #cbc9bd;
  border: 0px;
}

.selector-fecha button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #524c3e;
  color: #f5f6f7;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.log-entry {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #cbc9bd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.log-entry h3 {
  margin: 0 0 10px;
}

.log-entry .details {
  margin-bottom: 10px;
}

.log-entry .attachments {
  margin-top: 10px;
}

.log-entry .attachments a {
  display: block;
  color: #007BFF;
  text-decoration: none;
  margin-bottom: 5px;
}

.log-entry .attachments a:hover {
  text-decoration: underline;
}

