body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    padding-left: 27%;
}

.visit-list {
    list-style-type: none;
    padding: 0;
    border-radius: 20px;
    border: 1px solid #79553D;
}

.visit-item {
    margin-bottom: 0px;
    border: 1px solid #79553D;
}

.visit-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DCD5C4;
    padding-left: 20px;
    padding-right: 20px;
}

.f-item {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.l-item {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.circle {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.date-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DCD5C4;
    border: 1px solid #79553D;
    color: #2A2927;
}

.day {
    font-size: 13px;
    font-weight: bold;
}

.month {
    font-size: 10px;
}

.visit-toggle {
    width: 100%;
    padding: 10px;
    background-color: #DCD5C4;
    color: #2A2927;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.dropdown-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.visit-title:hover {
    background-color: #B5AA98;
}

.visit-details {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
}

.visit-details.visible {
    display: block;
}

.visit-details p {
    margin: 5px 0;
}

.add-attachment button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.add-attachment button img {
    width: 27px;
    height: 27px;
    padding-right: 1em;
}

button[id="redirectButton"]{
    width: 25%;
    border: 1px solid #242927; /* Establece el color y el grosor del borde */
    background-color: #242927;
    min-height: 45px;
    border-radius: 20px;
    color: #f5f6f7;
    font-family:"Gill Sans", sans-serif;
    font-size: 15px;
    margin-top: 20px;
}
